{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
  },
  "rules": {
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": false
      }
    ],
    "global-require": 0,
    "no-console": 0,
    "no-alert": 0,
    "no-param-reassign": 0,
    "react/jsx-space-before-closing": [
      "error",
      "never"
    ],
    "arrow-parens": [
      2,
      "as-needed"
    ],
    "react/jsx-pascal-case": 0,
    "react/prefer-stateless-function": 0,
  }
}
